Importamos las librerias que usaremos para la limpieza:

In [1]:
#Importamos las librerias:
import pandas as pd
import numpy as np

# Módulo para manipular paths
from pathlib import Path

# Libreríaidentificar el encoding de los archivos 
import chardet

# Módulo para manipular expresiones regulares 
import re
import os

#para leer parquet
import pyarrow
import datetime

Importamos las librerias que usaremos para conectar y subir con mysql:

In [2]:
import requests as req
import pymysql as sql
from sqlalchemy import create_engine
import openpyxl

Extraccion:
Los archivos tienen diversos formatos y argumentos de importación. Para automatizarlo, creamos una función que considere todas estas consideraciones para instanciarlo con el path de cada file.

In [5]:
#en open se usa "rb" para decir que vamos a leer el archivo en binario r(read)b(binari)
def importar(list):
    
    for path in list:    
          
       #importar archivos csv
        if Path(path).suffix == ".csv":            
            f = open(path,"rb")
            result= chardet.detect(f.read())
            dataSucursal = pd.read_csv(path,encoding=result["encoding"], sep=None, engine="python",decimal=".")
            dataSucursal = dataSucursal.rename({"id":"sucursal_id"}, axis=1)
            
            #normalizacion de datos 
            dataSucursal['sucursal_id'] = dataSucursal['sucursal_id'].apply(lambda x: ('{0}-{1}-{2}'.format(int(x.day),int(x.month),int(x.year))) if(type(x) == datetime.datetime) else x)
            dataSucursal['sucursal_id'] = dataSucursal['sucursal_id'].apply(lambda x: str(x))
            
            data = dataSucursal
            
        
        
        #importar parquet
        elif Path(path).suffix == ".parquet":
            dataProducto = pd.read_parquet(path,engine="pyarrow")
            dataProducto = dataProducto.rename({"id":"producto_id"}, axis=1)
            
            
            #Formula si queremos sacar los "-" en el pruducto_id, no los sacamos ya que hay id unicos debido a su "-"         
            #dataProducto['producto_id'] = dataProducto['producto_id'].apply(lambda x: int(x.rsplit('-', 1)[-1]) if(type(x) == str) else x)
            
            #normalizacion de datos de id, rellenando los lugares vacios a la izquierda con 0               
            dataProducto['producto_id'] = dataProducto['producto_id'].fillna(int(0)).apply(lambda x: str(int(float(x))).zfill(13) if(type(x) == float) else x)
            data = dataProducto
    

            

            
        
    return data

In [6]:
def importar_precios(list):
    #Dataframe con todos los precios
    data = pd.DataFrame()  

    for path in list:        

        #importar archivos csv
        if Path(path).suffix == ".csv":
            name = Path(path).stem
            name = name[-8:-4]+"-"+name[-4:-2]+"-"+name[-2:]
            f = open(path,"rb")
            result= chardet.detect(f.read())
            dataCSV = pd.read_csv(path, encoding=result["encoding"], engine='python', decimal=".")
            #Creamos la columna date, y la pasamos de int a tipo date.
            dataCSV["date"]= name[-8:]
          
            
            #normalizacion de datos                
            dataCSV['producto_id'] = dataCSV['producto_id'].fillna(int(0)).apply(lambda x: str(int(float(x))).zfill(13) if(type(x) == float) else x)
            dataCSV['sucursal_id'] = dataCSV['sucursal_id'].apply(lambda x: ('{0}-{1}-{2}'.format(int(x.day),int(x.month),int(x.year))) if(type(x) == datetime.datetime) else x)
            dataCSV['sucursal_id'] = dataCSV['sucursal_id'].apply(lambda x: str(x))
            
            #carga de datos en el Dataframe data
            data = pd.concat([data, dataCSV])

        #importar json
        if Path(path).suffix == ".json":
            name = Path(path).stem
            name =  name[-8:-4]+"-"+name[-4:-2]+"-"+name[-2:]
            dataJson= pd.read_json(path, precise_float=True)
            #Creamos la columna date, y la pasamos de int a tipo date.
            dataJson["date"]= name[-8:]
            #Al observar que la columna precios es de tipo objet por tener espacios vacios, los remplazamos NaN y posteriormente por "0".
            dataJson["precio"] = dataJson["precio"].replace('', np.nan).fillna(0)
            
            #normalizacion de datos                
            dataJson['producto_id'] = dataJson['producto_id'].fillna(int(0)).apply(lambda x: str(int(float(x))).zfill(13) if(type(x) == float) else x)
            dataJson['sucursal_id'] = dataJson['sucursal_id'].apply(lambda x: ('{0}-{1}-{2}'.format(int(x.day),int(x.month),int(x.year))) if(type(x) == datetime.datetime) else x)
            dataJson['sucursal_id'] = dataJson['sucursal_id'].apply(lambda x: str(x))
            
            #carga de datos en el Dataframe data
            data = pd.concat([data, dataJson])

        '''
        El archivo txt va a ser usado para probar la Api con FastApi por eso no es cargada en este momento.
        Si quisieramos importar directamente el txt usariamos la siguiente formula:
        
        
        elif Path(path).suffix == ".txt":
            dataText = pd.read_table(path, sep="|", decimal=".", engine="python")
            #Creamos la columna date, y la pasamos de int a tipo date.
            name = Path(path).stem          
            name = name[-8:]                
            dataText["date"]=  name[-8:-4]+"-"+name[-4:-2]+"-"+name[-2:]           
            #normalizacion de datos                
            dataText['producto_id'] = dataText['producto_id'].fillna(int(0)).apply(lambda x: str(int(float(x))).zfill(13) if(type(x) == float) else x)
            dataText['sucursal_id'] = dataText['sucursal_id'].apply(lambda x: ('{0}-{1}-{2}'.format(int(x.day),int(x.month),int(x.year))) if(type(x) == datetime.datetime) else x)
            dataText['sucursal_id'] = dataText['sucursal_id'].apply(lambda x: str(x))
            
            #carga de datos en el Dataframe data
            data = pd.concat([data, dataText])'''
            
        #import xlsx
        if Path(path).suffix == ".xlsx":
            df = pd.ExcelFile(path)
            for name in df.sheet_names:
                dataExcel = pd.read_excel(df, name)
                #Creamos la columna date, y la pasamos de int a tipo date con un metodo diferente.                
                dataExcel["date"]=  name[-8:-4]+"-"+name[-4:-2]+"-"+name[-2:]
                
                                
                #normalizacion de datos                
                dataExcel['producto_id'] = dataExcel['producto_id'].fillna(int(0)).apply(lambda x: str(int(float(x))).zfill(13) if((type(x) == float) or (type(x) == int)) else x)
                dataExcel['sucursal_id'] = dataExcel['sucursal_id'].apply(lambda x: ('{0}-{1}-{2}'.format(int(x.day),int(x.month),int(x.year))) if(type(x) == datetime.datetime) else x)
                dataExcel['sucursal_id'] = dataExcel['sucursal_id'].apply(lambda x: str(x))
                #Acomodamos el nombre de las columnas ya que estaba en un orden distinto al resto de tablas.
                dataExcel = dataExcel.reindex(columns=["precio","producto_id","sucursal_id","date"])
                
                #carga de datos en el Dataframe data
                data = pd.concat([data, dataExcel])
        else:
            pass
           

    return data

Buscamos la ruta de los archivos

In [7]:
#Buscar la ruta de los archivos
dirPath = r"./"
list_precio=[]
list_sucur=[]
list_prod=[]
for f in os.listdir(dirPath):
    if os.path.isfile(os.path.join(dirPath, f)):
        if "precios" in f:
            list_precio.append(f)
        elif "sucursal" in f:
            list_sucur.append(f)
        elif "producto" in f:
            list_prod.append(f)

Traemos los archivos transformados en DF

In [8]:
#importar sucursal 
sucursal = importar(list_sucur)

In [9]:
#importar producto
producto = importar(list_prod)

In [10]:
#importar precios en diferentes formatos
precios = importar_precios(list_precio)

**PRODUCTO**

Verificacion y limpieza de productos duplicados en la tabla "productos"

In [11]:
#validacion de duplicados en total de campos vs producto_id
mascara = producto.duplicated() == True
print(producto[mascara].count())

producto_id     0
marca           0
nombre          0
presentacion    0
categoria1      0
categoria2      0
categoria3      0
dtype: int64

In [12]:
producto.drop_duplicates(inplace=True)

Borrado de columnas "categoria1 categoria2 categoria3" al verificar que 72034 datos por columna son nulos, teniendo 4 valores no nulos, no justifica mantenerlas. Se procede a la eliminacion de las columnas y reporte al cliente.

In [13]:
producto.isnull().sum()

producto_id         0
marca               2
nombre              2
presentacion        2
categoria1      72034
categoria2      72034
categoria3      72034
dtype: int64

In [14]:
#Eliminacion de columnas con null
producto = producto.drop(['categoria1',"categoria2","categoria3"], axis=1)

Buscamos los productos que no tienen definido los valores en los campos "marca", "nombre" y "presentacion". Se colocara la descrpicion "Sin dato" y sera reportado al cliente.

In [15]:
mascara = producto.marca.isnull() == True
producto[mascara]

         producto_id marca nombre presentacion
53619  7798024299045  None   None         None
55798  7798061190213  None   None         None

In [16]:
producto.fillna("sin dato", inplace=True)

In [17]:
producto[mascara]

         producto_id     marca    nombre presentacion
53619  7798024299045  sin dato  sin dato     sin dato
55798  7798061190213  sin dato  sin dato     sin dato

**SUCURSAL**

In [18]:
sucursal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333 entries, 0 to 2332
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sucursal_id          2333 non-null   object
 1   comercioId           2333 non-null   int64
 2   banderaId            2333 non-null   int64
 3   banderaDescripcion   2333 non-null   object
 4   comercioRazonSocial  2333 non-null   object
 5   provincia            2333 non-null   object
 6   localidad            2333 non-null   object
 7   direccion            2333 non-null   object
 8   lat                  2333 non-null   float64
 9   lng                  2333 non-null   float64
 10  sucursalNombre       2333 non-null   object
 11  sucursalTipo         2333 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 218.8+ KB

In [19]:
#validacion de duplicados en total de campos vs producto_id
mascara = sucursal.duplicated() == True
print(sucursal[mascara].count())

sucursal_id            0
comercioId             0
banderaId              0
banderaDescripcion     0
comercioRazonSocial    0
provincia              0
localidad              0
direccion              0
lat                    0
lng                    0
sucursalNombre         0
sucursalTipo           0
dtype: int64

In [20]:
#Validacion de nulos en sucursal
sucursal.isnull().sum()

sucursal_id            0
comercioId             0
banderaId              0
banderaDescripcion     0
comercioRazonSocial    0
provincia              0
localidad              0
direccion              0
lat                    0
lng                    0
sucursalNombre         0
sucursalTipo           0
dtype: int64

In [21]:
sucursal.sample(3)

,sucursal_id,comercioId,banderaId,banderaDescripcion,comercioRazonSocial,provincia,localidad,direccion,lat,lng,sucursalNombre,sucursalTipo
1213,15-1-306,15,1,Supermercados DIA,DIA Argentina S.A,AR-C,Capital Federal,Cl Emilio Castro 7471,-34.655217,-58.522391,306 - Liniers,Autoservicio
464,10-3-615,10,3,Express,INC S.A.,AR-C,Ciudad Autónoma de Buenos Aires,Av. Rivadavia 4702,-34.616267,-58.431839,Rivadavia 4702,Autoservicio
713,12-1-220,12,1,COTO CICSA,Coto Centro Integral de Comercialización S.A.,AR-C,Caba,Gaspar M De Jovellanos 151,-34.632083,-58.376068,BARRACAS,Hipermercado

Se reportara al cliente que se pueden aprovechar las clasificaciones de "sucursal, comercio, bandera y tipo " para hacer analisis, siempre y cuando esta informacion sea normalizada por el cliente para un buen procesamiento de datos (entendemos que puede ser interesante comparar precios entre un bar, supermercado y un hipermercado, etc)

**PRECIOS**

Analisis de precio

In [22]:
precios.isnull().sum()

precio         3556
producto_id       0
sucursal_id       0
date              0
dtype: int64

In [23]:
precios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1807352 entries, 0 to 397733
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   precio       float64
 1   producto_id  object
 2   sucursal_id  object
 3   date         object
dtypes: float64(1), object(3)
memory usage: 68.9+ MB

Entendiendo que los precios que vienen en la tabla vienen de diferentes canales no se puede definir un costo promedio, se tomo la decision de cambiar los null por 0 e informar al cliente para su respectiva correccion. Habiendo comprobado anteriormente que no habia ningun precio con el valor 0

In [24]:
#remplazamos los null por 0
precios.fillna(0,inplace=True)

In [25]:
precios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1807352 entries, 0 to 397733
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   precio       float64
 1   producto_id  object
 2   sucursal_id  object
 3   date         object
dtypes: float64(1), object(3)
memory usage: 68.9+ MB

In [26]:
precios.head()

    precio    producto_id sucursal_id        date
0    399.0  0000000002288     2-1-092  2020-04-26
1    299.0  0000000002288     2-1-206  2020-04-26
2    399.0  0000000002288     2-2-241  2020-04-26
3  49999.0  0000000205870     9-1-430  2020-04-26
4  53999.0  0000000205870       9-2-4  2020-04-26

In [27]:
#Verificamos si existen precios sin id
print(precios[precios['producto_id'] == 0])

        precio producto_id sucursal_id      date
246393    0.00           0         nan  20-04-13
246748    0.00           0         nan  20-04-13
246882    0.00           0         nan  20-04-13
246978    0.00           0         nan  20-04-13
247033    0.00           0         nan  20-04-13
247079  451.00           0         nan  20-04-13
247167    0.00           0         nan  20-04-13
247310    0.00           0         nan  20-04-13
247404    0.00           0         nan  20-04-13
247405    0.00           0         nan  20-04-13
247520    0.00           0         nan  20-04-13
247560   20.14           0         nan  20-04-13
247660    0.00           0         nan  20-04-13
459373    0.00           0         nan  20-04-13
459568    0.00           0         nan  20-04-13

In [28]:
#Eliminamos todas las filas donde el producto_id sea igual a 0
precios = precios[precios['producto_id'] != 0]
#Debido a la normalizacion que hicimos antes tambien debemos borrar el "0000000000000" 
precios = precios[precios['producto_id'] != "0000000000000"]


A su vez se encontro con que estos productos_id no tienen su correlacion en la tabla de productos:

- 10-1-2303809000003
- 10-2-2304238000008
- 2630399000008
- 2920433200007
- 7790513005687
- 7798037563669
- 7798037563683

In [29]:
#Comprobamos cuales son los ID sin correlacion en la tabla producto y procedemos a eliminarlos para poder conectar las tablas en mysql
print(precios[precios["producto_id"]=="10-1-2303809000003"])
print(precios[precios["producto_id"]=="10-2-2304238000008"])
print(precios[precios["producto_id"]=="2630399000008"])
print(precios[precios["producto_id"]=="2920433200007"])
print(precios[precios["producto_id"]=="7790513005687"])
print(precios[precios["producto_id"]=="7798037563669"])
print(precios[precios["producto_id"]=="7798037563683"])

       precio         producto_id sucursal_id        date
12031    65.0  10-1-2303809000003   10-1-2006  2020-04-19
       precio         producto_id sucursal_id        date
14072   459.0  10-2-2304238000008    10-2-150  2020-04-19
       precio    producto_id sucursal_id        date
19920   360.0  2630399000008    10-2-150  2020-04-19
       precio    producto_id sucursal_id        date
20382    13.9  2920433200007    10-2-150  2020-04-19
        precio    producto_id sucursal_id        date
152828    95.0  7790513005687    10-2-150  2020-04-19
        precio    producto_id sucursal_id        date
386408   130.9  7798037563669    10-2-150  2020-04-19
        precio    producto_id sucursal_id        date
386409   130.9  7798037563683    10-2-150  2020-04-19

In [30]:
#Eliminamos las filas por id
precios = precios.drop(12031)
precios = precios.drop(14072)
precios = precios.drop(19920)
precios = precios.drop(20382)
precios = precios.drop(152828)
precios = precios.drop(386408)
precios = precios.drop(386409)

**CARGAR A LA BASE DE DATOS**

In [34]:
engine = create_engine('mysql+pymysql://user:pasword@localhost/ETL_proyecto1')

In [35]:
sucursal.to_sql('sucursal',con=engine,index=False,if_exists='append')

2333

In [36]:
producto.to_sql('producto',con=engine,index=False,if_exists='append')

72038

In [37]:
precios.to_sql('listaprecio',con=engine,index=False,if_exists="append")

1793793